<div class="form-wrapper">
  <h2>{{title}}</h2>

  <form (submit)="save()">

    <div>

      <label for="firstName">First name</label>

      <input type="text" name="firstName" id="firstName" class="userFirstname" [(ngModel)]="firstName" />

    </div>

    <div>

      <label for="lastName">Last name</label>

      <input type="text" name="lastName" id="lastName" class="userLastname" [(ngModel)]="lastName" />

    </div>

    <div>

      <label for="phoneNumber">Phone number</label>

      <input type="tel" name="phoneNumber" id="phoneNumber" class="userPhone" [(ngModel)]="phoneNumber" />

    </div>

    <div>

      <input type="submit" value="Submit" class="submitButton">

    </div>

  </form>

<div>

<div class="informationTable">

  <h4>Phone Book List</h4>
  <table *ngIf="phoneNumberArr.length > 0; else nodata">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of phoneNumberArr">
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.phoneNumber}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #nodata>No data is found!!</ng-template>

</div>