.form-wrapper{
    width: 80%;
    margin: 0 auto;
}
table{
    width: 100%;
    border: 1px solid #ccc;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

label{
    font-weight: bold;
    display: block;
    margin: 5px 0;
}
input[type=text], input[type=tel]{
    width: 400px;
    height: 35px;
    margin: 5px 0;
    padding: 0 5px;
}

input[type=submit]{
    width: 200px;
    height: 35px;
    margin: 5px 0;
}